{% extends "news.html" %}

{% block inner %}
<div class="inner">
	<div class="padding">
		<div class="htabber second">
		<ul class="tabs">
			<li class="current">{{ page }}<div class="cl"></div><div class="cr"></div></li></ul>
			<div class="boxes">								
				<div class="box visible maincontent">
		    		{{ page.body|safe }}
		   		</div>
		   	</div>
		</div>
	</div>
</div>
{% endblock %}