{% load i18n thumbnail %}
{% if last %}
<div class="box">
    <h2>{% trans "Последние новости" %}</h2>
    <div class="news">
        <ul>
        {% for news in last %}
            <li class="item{% if forloop.last %} last{% endif %}">
                {% thumbnail news.image "120x90" crop='center' upscale=False as im %}
                <a href="{{ news.get_absolute_url }}" title="{{ news.title }}"><img style="padding:{{ im|margin:"120x90" }};" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ news.title }}"></a>
                {% endthumbnail %}
                <h5><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h5>
                <p>{{ news.short|striptags }}</p>
                <a class="more" href="{{ news.get_absolute_url }}">{% trans 'Читать дальше' %}&nbsp;&rarr;</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<!--<p><a href="{% url 'news' %}" class="right">Все новости</a></p>-->
{% endif %}