{% load page_tags %}

{% actions foot_menu_three %}
{% if  actions %}
	<h3>Полезно</h3>
	{% for action in actions %}
		<div class="item"><a href="{{ action.link }}">{{ action.title }}</a></div>
	{% endfor %}
{% endif %}

