{% load page_tags %}

{% actions reviews %}
{% if  actions %}
	<h3>Отзывы</h3>
	{% for action in actions %}
		<div class="item"><a href="{{ action.link }}">{{ action.title }}</a></div>
	{% endfor %}
{% endif %}

