{% load page_tags %}

{% actions uslugi %}
<li><a href="#" {% if '/mrt' in request.path or '/kt' in request.path %} class="active" {% endif %}>Услуги</a>
	<ul>
	{% for action in actions %}
	    <li><a  href="{{ action.link }}">{{ action.title }}</a>
	    {% if action.childs %}
		    <ul>
		    {% for child in action.childs %}
			    {% if 'МРТ' in child.parent.title %}
			    	<li><a href="{% if child.link %}{% url 'page_view'  slug=child.page.slug  %}{% else %}404{% endif%}">{{ child.title }}</a></li>
			    {% else %}
					<li><a href="{% if child.link %}{% url 'page_view'   slug=child.page.slug  %}{% else %}404{% endif%}">{{ child.title }}</a></li>
			    {% endif %}
		    {% endfor %}
		    </ul>
	    {% endif %}
	    </li>
	    
	{% endfor %}
	</ul>
</li>




{% actions about_company %}
<li><a {% if request.path == "/stranica-obshej-inforacii" %} class="active" {% endif %} href="/stranica-obshej-inforacii">Об ассоциации</a></li>

<li><a {% if request.path == "/event/" %} class="active" {% endif %} href="{% url 'news' %}">Акции</a></li>

<li><a href="/stati" {% if request.path == '/stati' %} class="active" {% endif %} >Статьи</a>
</li>
<li><a {% if request.path == "/kontakty" %} class="active" {% endif %} href="/kontakty">Контакты</a></li>