{% extends "base.html" %}
{% load thumbnail   news_tags %}
{% block content %}
	<div id="loader"><span>Загружаю...</span></div>
<div id="carouselSection" >
	<div class="container">
		<div class="row">
			<div class="span7">
			    {% if slider %}
				<div id="myCarousel" class="carousel slide">
					 <div class="carousel-inner gallery">
					   	{% for slide in slider %}
					   	{% if forloop.first %}
					   		<div class="active item">
					   	{% else %}
					   		<div class="item">
					   	{% endif %}
					   		<a href="{{ slide.url }}"{% if slide.target %} target="_blank"{% endif %}>
			                    {% thumbnail slide.image '982x430' upscale=False format='PNG' as im %}
			                        <img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}" rel="prettyPhoto[gallery1]">
			                    {% endthumbnail %}
			                    <span class="border"></span>
				            </a>
						</div>
				       	{% endfor %}
					  </div>

					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

					</div>
				</div>
			    {% endif %}

			<div class="span5">		
				{% last_news 3 %}
			</div>
		</div>
	</div>
</div>

{% endblock %}




