body,ul,ol,p,td {color: #606060;font-family:"Verdana";font-size: 11px;line-height: 1.3em;}
body,ul,ol {padding:0px;margin:0px;}

.fld, select, textarea {font-family:"Verdana";font-size: 12px;color: #606060;padding:2px;}

body,form,img {padding:0px;margin:0px;border:0;}

ul,ol,p{margin-bottom:1em;}
.pw{
	width: 190px;
}
ol {margin:1em 1em 1em 2em;}

.redBorder{
	border:1px solid red !important;
}
/* Helpers */
.w10{ width: 10%; } .w20{ width: 20%; } .w30{ width: 30%; } .w40{ width: 40%; } .w50{ width: 50%; } .w60{ width: 60%; } .w70{ width: 70%; } .w80{ width: 80%; } .w90{ width: 90%; } .w100{ width: 100%; }
.w15{ width: 15%; } .w25{ width: 25%; } .w35{ width: 35%; } .w45{ width: 45%; } .w55{ width: 55%; } .w65{ width: 65%; } .w75{ width: 75%; } .w85{ width: 85%; } .w95{ width: 95%; } 
.fleft {float:left;}
.fright {float:right;}
.clear {clear: both;}
.tl{ text-align: left; }
.tr{ text-align: right; }
.tc{ text-align: center; }
.tj{ text-align: justify; }
.pd2 {padding:2px;} .pd3 {padding:3px;} .pd4 {padding:4px;}  .pd10 {padding:10px;}
.ml2 {margin-left:2px;} .ml3 {margin-left:3px;} .ml5 {margin-left:5px;} .ml8 {margin-left:8px;} .ml10 {margin-left:10px;} .ml15 {margin-left:15px;} .ml20 {margin-left:20px;} .ml30 {margin-left:30px;} .ml50 {margin-left:50px;}
.mt2 {margin-top:2px;} .mt3 {margin-top:3px;} .mt5 {margin-top:5px;} .mt8 {margin-top:8px;} .mt10 {margin-top:10px;} .mt15 {margin-top:15px;} .mt20 {margin-top:20px;} .mt30 {margin-top:30px;} .mt50 {margin-top:50px;}
.pt2 {padding-top:2px;} .pt3 {padding-top:3px;} .pt5 {padding-top:5px;} .pt10 {padding-top:10px;} .pt15 {padding-top:15px;} .pt20 {padding-top:20px;} .pt30 {padding-top:30px;}
.pb2 {padding-bottom:2px;} .pb3 {padding-bottom:3px;} .pb5 {padding-bottom:5px;} .pb10 {padding-bottom:10px;} .pb15 {padding-bottom:15px;} .pb20 {padding-bottom:20px;} .pb30 {padding-bottom:30px;}
.ml5 {margin-left:5px;} .ml10 {margin-left:10px;} .ml15 {margin-left:15px;} .ml20 {margin-left:20px;} .ml30 {margin-left:30px;}
.mr5 {margin-right:5px;} .mr10 {margin-right:10px;} .mr15 {margin-right:15px;} .mr20 {margin-right:20px;}  .mr30 {margin-right:30px;}
.mb3 {margin-bottom:3px;} .mb5 {margin-bottom:5px;} .mb10 {margin-bottom:10px;} .mb15 {margin-bottom:15px;} .mb20 {margin-bottom:20px;}  .mb30 {margin-bottom:30px;}
.pl3 {padding-left:3px;} .pl5 {padding-left:5px;} .pl10 {padding-left:10px;} .pl15 {padding-left:15px;} .pl20 {padding-left:20px;}  .pl30 {padding-left:30px;}
.pr3 {padding-right:3px;} .pr5 {padding-right:5px;} .pr10 {padding-right:10px;} .pr15 {padding-right:15px;} .pr20 {padding-right:20px;}  .pr30 {padding-right:30px;}
.dnone {display:none;} .dblock {display:block;}
.bold {font-weight:bold;} .under {text-decoration:underline;}
.redl {border:1px solid red;}
.ovh {overflow: hidden;}
.prel {position: relative;}
.center {display: table;margin:0px auto;}
.med {font-size: 1.1em;}

.red {color: red;}
.gray {color: #808080;}
.lgray {color:#bdbdbd;}
.blue {color:#5ba7dc;}
.orange {color:#EA9903;}

h1,h2,h3 {color:#ea9903;}
h1 {font-size: 20px;margin-bottom: 25px;}
h2 {font-size: 15px;margin-bottom: 20px;}
h4 {color:#5ba7dc;font-size: 13px;margin-bottom: 15px;}

a {text-decoration:none;color:#d57e26;}
a:hover {text-decoration:none;}

a.z {border:0;line-height: 0px;}

body {background: #ffffff;}

.btn_submit {
	color:#1672b9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px dashed #808080 !important;
	padding-bottom: 2px;
	background: none;
	border:none;
}

ul.list li {background: url('../img/arrow.png') 0px 2px no-repeat;padding-left: 15px;margin-bottom: 10px;}

.header {height:85px;}
.header .logo {width: 127px;height: 148px;position: absolute;top:0px;left:36px;z-index: 100;}
.header .logo a {display: block;width: 127px;height: 148px;background: url('../img/logo.png') top left no-repeat;border: 0px;}
.header .phone {float: left;margin: 20px 0 0 200px;}
.header .phone .number,.header .phone .number a {color: #3d75a4;font-size:27px;border: 0;}
.header .phone .number span {color:#9b9b9b;}
.header .phone .time {color:#5ba7dc;margin-top: 15px;font-size: 1.2em;}
.header .buttons {float: left;margin: 28px 0 0 50px;}

.header .but_blue {
	font-size: 14px;
	color: #ffffff;
	padding: 14px 14px 13px 14px;
	background: #5eabde;
	background: -moz-linear-gradient(
		top,
		#5ba6dc 0%,
		#5eabde);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#5ba6dc),
		to(#5eabde));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow:
		0px 1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,1);
	border-bottom: 2px solid #2981c3;
	border-right: 1px solid #2981c3;
	cursor: pointer;
	font-weight: bold;
}

.header .but_org {
	font-size: 14px;
	color: #ffffff;
	padding: 14px 14px 13px 14px;
	background: #f19d02;
	background: -moz-linear-gradient(
		top,
		#ef9c03 0%,
		#f19d02);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ef9c03),
		to(#f19d02));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow:
		0px 1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,1);
	border-bottom: 2px solid #d28016;
	border-right: 1px solid #d28016;
	cursor: pointer;
	font-weight: bold;
}

.header_slim {height:66px;position: fixed;background: #ffffff;z-index: 1000;width:100%;box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);}
.header_slim .logo {width: 168px;height: 66px;}
.header_slim .logo a {width: 168px;height: 66px;background: url('../img/logo_cut.png') top left no-repeat;border: 0px;}
.header_slim .phone {margin-left: 276px;margin-top: 15px;}
.header_slim span.but_blue,.header_slim .but_org {
	font-size: 12px;
	padding: 12px 14px 11px 14px;
}

.footer {min-height:85px;}
.footer .inner {padding: 45px 35px;}
.footer .column {float: left;margin-right: 70px;}
.footer .last {margin-right: 0px;}
.footer h3 {color:#5ba7dc;margin-bottom: 20px;}
.footer .column .item {margin-bottom: 20px;}
.footer .column .item a {color:#808080;border-bottom: 1px dashed #808080;}
.footer .column .item a:hover {color:#ea9903;border-bottom: 1px dashed #ea9903;}

.footer .social {float: right;width:335px;}
.footer .shared-icons {float: left;margin-top: -5px;margin-left: 10px;}
.footer .shared {background: url('../img/share.png') top left no-repeat;display: inline-block;width: 24px;height: 24px;border:0px;}
.footer .shared-vk {background-position:0px 0px;}
.footer .shared-fb {background-position:-28px 0px;}
.footer .shared-tw {background-position:-56px 0px;}
.footer .shared-rss {background-position:-84px 0px;}
.footer .shared-ph {background-position:-112px 0px;}

.wrapper {display: table;margin:0px auto;width:960px;position: relative;}

.main {min-height: 800px;background: url('../img/grid.png');}

.main .content {background: url('../img/blue-fix.png') top left repeat-x;min-height:463px;}

.main a {border-bottom: 1px dashed #d57e26;}

.main .content .inner {
	background: url('../img/center.png') top left no-repeat;
	height:550px;
	display: table;
	margin:12px auto 0px auto;
	width:955px;
	position: relative;
}
.main .content .inner .padding {
	padding: 0px 35px 30px 35px;
}

.main .content .one_win {
	float:left;
	margin-left: 33px;
}
.main .content .teaser {
	float:right;
	background: url('../img/mrt.png') top left no-repeat;
	padding-left: 134px;
	min-height: 94px;
	color: #ffffff;
	margin-right: 37px;
	font-size: 1.2em;
	line-height: 130%;
	padding-top: 10px;
	position: relative;
}
.main .content .teaser .period {
	position: absolute;
	bottom: 27px;
	left:3px;
	color:#ea9903;
	font-weight: bold;
}
.main .content .teaser a {
	color: #ffffff;
	border: 0;
}

.main .promo {
	background: rgba(0, 0, 0, 0.3);
}
.main .promo H2 {color:#818182;font-weight: bold;font-size: 13px;margin-bottom: 13px;}
.main .promo .inner {padding:25px 37px;}
.main .promo .win {background: #f2f4ff;border-radius: 6px;padding:15px 35px;width:660px;float: right;}
.main .promo p {color:#808080 !important;}
.main .promo .medic {width: 190px;height: 185px;position: absolute;bottom:0px;left:30px;background: url('../img/medic.png') top left no-repeat;}

.main .frm_order H2 {font-weight: bold;font-size: 13px;margin-bottom: 13px;text-transform: uppercase;text-align: center;}
.main .frm_order .inner {padding:10px 0 45px 0px;}
.main .frm_order .win {background: #c7c7c7;border-radius: 6px;padding:20px 15px;width:455px;display: table;margin: 0 auto;}
.main .frm_order .btn_submit {font-size: 16px;}

.up {display:none;width: 40px;height: 40px;position: fixed;bottom:10px;right:10px;background: url('../img/up.png') top left no-repeat;cursor: pointer;z-index: 100;}

input[type=text],select,textarea {background: #eeeeee;border-radius: 5px;border:1px solid #c1c1c1;font-size: 11px;padding: 3px;color: #606060;}
input[type=checkbox] {position: relative;top:2px;}
input[type=radio] {position: relative;top:2px;}

table.basic {padding:0px;margin:0px;width:100%;}
table.basic thead tr {}
table.basic th {
	border-top:2px solid #5ba7dc;
	border-bottom:2px solid #5ba7dc;
	color:#5ba7dc;
	font-size:1.1em;
	text-align: left;
	text-transform: uppercase;
}

table.basic td {color: #606060;}
table.basic th,table.basic td {padding:8px 5px;}

tr:nth-child(odd){background:#ffffff;text-align: center;}
tr:nth-child(even){background:#e3f0f9;text-align: center;}

table#example tbody tr:hover,table.basic tbody tr:hover {background:#fcd894;cursor: pointer;}

a.arrow {background: url('../img/arrow.png') 100% 2px no-repeat;padding-right: 15px;}

.help_arrow_1 {width: 237px;height: 102px;position: absolute;top:-13px;left:36px;background: url('../img/help_arrows.png') top left no-repeat;}
.help_arrow_3 {width: 119px;height: 98px;position: absolute;bottom:-106px;left:-6px;background: url('../img/help_arrows.png') 0px -268px no-repeat;}
.help_arrow_4 {width: 289px;height: 39px;background: url('../img/help_arrows.png') 0px -372px no-repeat;margin-top: 10px;}

.frm_inline {font-size: 1.1em;padding: 10px;}
.frm_inline input,.frm_inline select,.frm_inline textarea {font-size: 1.1em;}

.frm_modal {font-size: 1.1em;padding: 10px;}
.frm_modal input,.frm_modal select,.frm_modal textarea {font-size: 1.1em;}

#map {width:100%;height:300px;}

.navchain {position: absolute;top:-20px;left:50px;color: #ffffff;}
.navchain a {color: #ffffff;border:0px;}

.maincontent {padding: 20px 30px !important;}
.maincontent h2,.maincontent h2 a {color:#7e7e7e;font-size: 14px;border: 0px;}
.maincontent h2 a:hover {color:#ef9c03;}
.maincontent .special {background: #ef9c03;border-radius:7px;color: #ffffff;padding: 4px 7px;}
.maincontent p {font-size: 1.1em;}


.maincontent .pagination {text-align: center;margin: 20px 0;}
.maincontent .pagination a {font-size: 17px;color: #7e7e7e;text-decoration: none;border:0px;padding: 0px 8px;}
.maincontent .pagination a.current {color:#5ba7dc;font-weight: bold;}

.maincontent .pagination a.prev,.maincontent .pagination a.next {
	display: inline-block;width:10px;height:15px;background: url('../img/arrow_page.png') 0px 0px no-repeat;padding: 0;position: relative;top:1px;margin: 0px 8px;
}
.maincontent .pagination a.next {
	background-position: -10px 0px;
}
option[disabled] {
background: #ef9b04;
color: white;
font-weight: bold;
}

span.td_info{
	color: #08c;
}
.s_text{
	font-weight: bold;
	margin-left: 10px;
}
.s_metro_hidden{
	display: none;
}
#tbl_show_all{
	display: none;
}


ul.ul_child{
	margin-left: 20px;
	//display: none;
}


.dnone{
	display: none;
}
#ajax_insert{
	max-height:240px;
	overflow: auto;
	width: 620px;
	margin-top: 2px;

}

.dataTables_wrapper .dataTables_processing {
	position: absolute;
	top: 14%;
	left: 30%;
	width: 639px;
	height: 112px;
	padding-top: 84px;
	text-align: center;
	font-size: 1.2em;
	  background-color: white;
	  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
	  /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* Chrome10+,Safari5.1+ */
	  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* FF3.6+ */
	  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* IE10+ */
	  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	  /* Opera 11.10+ */
	  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
#loader {
  position:fixed; display:none;
  top:0; left:0;
  height:100%; width:100%;
  background:#ccc; opacity:.7;
  z-index: 10;
}
#loader span {
  display:block; position:absolute; right:50px; top:35px;
  color:#fff; background:#C71D72;
  padding:5px 10px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px;
  border-radius: 5px; cursor:default;
  z-index: 13;
}
input.hidden{
	display: none;
}

div.loading{
	text-align: center;
	margin-top: 32px;
	/* padding-top: 21px; */
	display: block;
}
span.errors{
	font-size: 10px;
	color: #ea9903;
}
.has-error{
	border: 1px solid #ea9903 !important;
}
div.success{
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
ya-map {
	width: 100%;
	height: 300px;
	display: block;
}
.cluster-balloon-item {
    margin: 10px;
    cursor: pointer;
}

h1.reviews{
margin-top: 52px;

}