
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height:	1.0; }
.sf-menu ul { position: absolute; top: -999em; left:-999em; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { }
.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float: left; position: relative; }
.sf-menu a { display: block; position: relative; }
	
.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left: 0; top: 2.5em; /* match top ul list item height */ z-index: 99; }
	ul.sf-menu li:hover li ul, 
	ul.sf-menu li.sfHover li ul { top: -999em; }
	ul.sf-menu li li:hover ul, 
	ul.sf-menu li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
	ul.sf-menu li li:hover li ul,
	ul.sf-menu li li.sfHover li ul { top: -999em; }
	ul.sf-menu li li li:hover ul, 
	ul.sf-menu li li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }

.sf-menu li#menu-events:hover ul,
.sf-menu li#menu-events.sfHover ul,
.sf-menu li#menu-press:hover ul,
.sf-menu li#menu-press.sfHover ul { left: auto; right:-8px; }



/* SKIN 
----------------------------------------------------------------------------------------------------*/
.menu_container { width:100%; height:40px;margin-top: 10px;}
.sf-menu { float: right; margin-bottom: 0; margin-right: 20px; }
.sf-menu a, .sf-menu a:visited { padding: 0; text-decoration:none; color: #fff; }  /* visited pseudo selector so IE6 applies text colour*/
.sf-menu li { font-size:15px; padding: 0px 15px; line-height:38px;}
.sf-menu li li { background: #fff; font-size:12px; line-height:auto; }
.sf-menu li li:last-child a { border-bottom:0 none; }
.sf-menu li li a { width:15em; line-height:1.2em; padding:10px 0; margin:0; color:#333333 !important; border: 0px;}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul { top: 40px; left:15px; }


.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu ul li:hover a, .sf-menu ul li.sfHover a,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { }
.sf-menu ul li:hover, .sf-menu ul li.sfHover{ border-top:none; position:relative; top:0px; cursor:pointer; }

.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {color:#f0a417 !important;}


.sf-menu li.hasSub:hover, .sf-menu li.sfHover.hasSub {}

.sf-menu li:last-child{ }
.sf-menu li li:last-child{ /*padding-right:17px;*/ }


/*** arrows **/
.sf-sub-indicator{ display: none; }

/*** shadows for all but IE6 ***/
.sf-shadow ul { box-shadow: 0 3px 4px rgba(30,30,30,.4); }

.sf-round>li {padding: 0px 15px 15px 15px;}
.sf-round>li>a {padding: 5px 10px; line-height:1.5em;text-transform: uppercase;border-bottom: 0px dashed #ffffff;text-decoration: none;}
.sf-round>li:hover>a,.sf-round>li.active>a,a.active{background: #1672b9; border-radius: 3px; box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.3);}
.sf-round ul {border-radius:5px;box-shadow: 0 3px 4px rgba(30,30,30,.4); }
.sf-round ul li:first-child {border-radius:5px 5px 0 0;}
.sf-round ul li:last-child {border-radius:0 0 5px 5px;}

@media (max-width: 990px) {
	.sf-menu li { font-size:14px; padding: 0px 7px; }
}

