/*** 2.0 from 15-05-2012 ***/
html, address, blockquote, body, dd, div,dl, dt, fieldset, form, frame, frameset, h1, h2, h3, h4, h5, h6, noframes, ol, p, ul, center, dir, hr, menu, pre, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
li{display: list-item; list-style: none outside}
head {display: none}
table{display: table}
tr{display: table-row}
thead{display: table-header-group}
tbody{display: table-row-group}
tfoot{display: table-footer-group}
col{display: table-column}
colgroup{display: table-column-group}
td, th {
	display: table-cell;
	vertical-align: top;
	text-align: left;
}
caption{display: table-caption}
th{font-weight: bolder; text-align: center}
caption {text-align: center}
pre, tt, code, kbd, samp{font-family: monospace}
pre {white-space: pre}
button, textarea, input, select{display: inline-block}
textarea {overflow: auto}
s, strike, del {text-decoration: line-through }
ol{list-style-type: decimal}
h1, h2, h3, h4, h5, h6, p, ul, ol, form, input, td, th, table{margin:0; padding: 0}
u, ins {text-decoration: underline}
center{text-align: center }
img, a{border: none; outline: none; display: inline-block}
a{cursor: pointer}
a:hover{background-color: transparent}
mark{background: none; font-weight: bold}
:focus{outline: none !important}
blockquote, figure {margin: 0}
dt, dd, dl{margin: 0}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;
}
@media print {
	h1{page-break-before: always}
	h1, h2, h3, h4, h5, h6{page-break-after: avoid}
	ul, ol, dl{page-break-before: avoid}
}
button, input[type="button"], input[type="reset"], input[type="submit"]{
  cursor: pointer;
  -webkit-appearance: button;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor: pointer;
	font-family: Arial, sans-serif;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.break{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
}

.clearfix {*zoom: 1}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

.clear{
	outline: none !important;
	content: "" !important;
	outline: 0 !important;
	border: none !important;
	background: none !important;
	clear:both !important;
	display:block !important;
	overflow:hidden !important;
	width:0 !important;
	margin:0 !important;
	padding:0 !important;
	line-height: 0 !important;
	font-size: 0 !important;
	float: none !important;
	text-indent: -90000px !important;
}
.clear.webkit-mode{
	width: 100% !important;
	height:1px !important
} /* because ordinary break with the zero layout not flows margin in Chrome (webkit engine) */

*{ /* ie 6-7 */
	*zoom: 1;
	*z-index: 1
}