.htabber {}
.htabber ul.tabs {list-style: none;margin:0px;padding:0px;height:33px;}
.htabber ul.tabs li {
	float: left;
	display: inline;
	cursor: pointer;
	color:#0e6eb7;
	padding:12px 30px 7px 30px;
	font-size: 15px;
	margin-right:10px;
	font-weight: bold;
	text-transform: uppercase;
}
.htabber ul.tabs li:hover {color: #fb9c3e;}
.htabber ul.tabs li.current {
	background:#ffffff;
	cursor: auto;
	color:#ea9903;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	position: relative;
}

.htabber ul.tabs  li.current .cl {
	position: absolute;
	top:0px;
	left:-7px;
	width: 6px;
	height: 6px;
	background: url('../img/corners.png') 0px 0px;
}
.htabber ul.tabs  li.current .cr {
	position: absolute;
	top:0px;
	right:-8px;
	width: 7px;
	height: 6px;
	background: url('../img/corners.png') 0px -6px;
}

.htabber .box {
	//display: none;
	padding: 0px;
	margin-top:0px;
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 10px;
}

.htabber .boxes .box:first-child {
	border-radius: 0 5px 5px 5px;
}
.htabber .box.visible {display: block;}

.htabber ul.vtabs {list-style: none;margin:0px;padding:0px;height:33px;}

.filter {width:200px;margin-top: 12px;float: left;margin-bottom: 97px;}

.padder {width:620px;margin-top: 12px;float: left;margin-left: 64px;}
.padder li {width:38%;text-align: center;}
.padder .box {min-height: 100px;}

.second {width:100%;margin-top: 12px;float: left;margin-left: 0px;}
.second li {text-align: center;}
.second .box {min-height: 500px;}

.vtabber {}
.vtabber ul.tabs {list-style: none;margin:0px;padding:0px;width:49px;float: left;}
.vtabber ul.tabs li {
	cursor: pointer;
	color:#0e6eb7;
	padding:22px 12px;
	font-size: 15px;
	margin-right:10px;
	font-weight: bold;
	text-transform: uppercase;
	width:30px;
	text-align: center;
}
.vtabber ul.tabs li:hover {color: #fb9c3e;}
.vtabber ul.tabs li.current {
	background:#ffffff;
	cursor: auto;
	color:#ea9903;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	position: relative;
	border-radius: 5px 0 0 5px;
}

.vtabber .box {
	//display: none;
	padding: 0px;
	margin-top:0px;
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 15px 10px;
	min-height: 200px;
}
.vtabber .boxes {
	margin-left: 54px;
}
.vtabber .boxes .box:first-child {
	border-radius: 0 5px 5px 5px;
}
.vtabber .box.visible {display: block;}

.tab_tab{
	cursor: pointer;
	color:#66adde;
	padding-bottom:5px;
	font-size: 12px;
	margin-right:10px;
	margin-bottom: 3px;
	text-transform: uppercase;
}

	
.stabber {}
.stabber ul.stabs {list-style: none;margin:0px;padding:0px;float: left;width:220px;}
.stabber ul.stabs li {
	cursor: pointer;
	color:#66adde;
	padding-bottom:5px;
	font-size: 12px;
	margin-right:10px;
	margin-bottom: 3px;
}
.stabber ul.stabs li:hover {color: #fb9c3e;}
.stabber ul.stabs li.current {
	background:#ffffff;
	cursor: pointer;
	color:#ea9903;
	position: relative;
}

.stabber .sbox {
	//display: none;
	padding: 0px;
	margin-top:0px;
	background: #ffffff;
}
.stabber .sboxes {
	margin-left: 230px;
}
.stabber .sboxes .sbox:first-child {
	border-radius: 0 5px 5px 5px;
}
.stabber .sbox.visible {display: block;}