{% load i18n %}

{% if admin_url %}
<div class="inlineTextPart">
    <a href="{{ admin_url }}" onclick="return showAddAnotherPopup(this);" title="{% trans "Редактировать" %}" class="inlineEditLink">
        <img src="{{ STATIC_URL }}images/edit.png"></a>
{% endif %}

{% block body %}
{% endblock %}

{% if admin_url %}
</div>
{% endif %}