{% extends "base.html" %}
{% block content %}
<div id="carouselSection" >
    <div class="container">
        <div class="row">
            <div class="span7">
    <h1>Спасибо</h1>
    {% if form.response %}
    <p>{{ form.response }}</p>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
