{% extends "base.html" %}
{% load thumbnail docent_tags i18n pagination_tags generic_flatblocks page_tags %}

{% block content %}
<div class="main">
		<div class="content">
			<div class="wrapper">
				<div class="menu_container">
					<ul class="sf-menu sf-round">
						{% include 'tags/up_menu.html' %}
					</ul>
				</div>
				
				<div class="one_win">
					<img src="{{STATIC_URL }}img/one_win.png" width="476" height="106" alt="">
				</div>
				{% gblock 'our_choice' for 'gblocks.banner' with 'gblocks/banner.html' %}
				<div class="clear"></div>
			</div>
			{% block inner %}
			<div class="inner">
				<div class="padding">
					<div class="navchain"><a href="{% url 'home' %}">Главная</a> > <a href="#">Акции</a></div>
					<div class="htabber second">
						<ul class="tabs">
							<li class="current">Акции<div class="cl"></div><div class="cr"></div></li>
						</ul>
						{% autopaginate news 3 %}

						<div class="boxes">								
							<div class="box visible maincontent">
							{% for n in news %}
								<h2>
									<span>{{ n.title|safe }}</span>
										{% if n.due_date %}<span class="special">до
											{{ n.due_date }}</span>{% endif %}
								</h2>
								<p>  
								{% thumbnail n.image "120x116" crop='center' as im %}
								 <img class="fleft mr10 mb10"  src="{{ im.url }}" title="{{ n.title|striptags }}" alt="{{ n.title|striptags }}">
								{% endthumbnail %}


								<p class="pt10">{{ n.short|safe|urlizetrunc:"40" }}
								</p>
																<p>&nbsp;</p>
								<p>&nbsp;</p>
							{% endfor %}
								
								<div class="clear"></div>

							  {% paginate %}
							</div>
						</div>
					</div>
					<div class="clear"></div>

				</div>
			</div>
			{% endblock %}
		</div>
		<div id="btn_up" class="up"></div>
		{% page_menu %}


	</div>
{% endblock %}
