{% extends "base.html" %}
{% load thumbnail  i18n %}



{% block content %}
<div id="carouselSection" >
<div class="container">
		<div class="row">
			<div class="span7">
    <h1 class="title">{{ news_item.title|safe }}</h1>
    {% thumbnail news_item.image "300x350" as im %}
        <img class="floatLeft" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ news_item.title|striptags }}">
    {% endthumbnail %}
    {{ news_item.body|safe|urlizetrunc:"30" }}
    <p><span class="date">Опубликованно: {{ news_item.creation_date|date:"j E Y в H:i" }}</span></p>
</div>
</div>
</div>
</div>
{% endblock %}
