<div class="frm_order" ng-controller="SendFormController">
	<div class="wrapper">
		<div class="inner">
			<h2>Запишитесь на прием прямо сейчас:</h2>
			<div class="win">
			<div class="success" ng-show="formBottomDataErrors.success">
				<span><b>Спасибо!</b> <br> Ваша заявка принята</span>
			</div>

					<div class="fleft mt3" ng-hide="formBottomDataErrors.success">
						<input type="radio" ng-model="formBottomData.v" value="MRT"> <b>МРТ</b>
						<input type="radio" ng-model="formBottomData.v" value="KT" class="ml10"> <b>КТ</b>
					</div>

					<form id='f_akci' ng-submit="formInBottomSend($event)" ng-hide="formBottomDataErrors.success">{% csrf_token %}
					<div class="fleft ml20">
						<select style="width:330px" ng-show="formBottomData.v == 'MRT'" ng-model="formBottomData.inspection">
						<option value="">Выбрать обследование</option>
							{% for p in mrt_insps %}
								<option value="{{ p.pk }}">{{ p.name }}</option>
							{% endfor %}
						</select>
						
						<select style="width:330px" ng-show="formBottomData.v == 'KT'" ng-model="formBottomData.inspection">
						<option value="">Выбрать обследование</option>
							{% for p in kt_insps %}
								<option value="{{ p.pk }}">{{ p.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clear"></div>

					<div class="mt15">
						<div class="fleft mr10">
							<div>Ваше имя <span class="orange">*</span>
							<span class="errors">{% verbatim %}{{ formBottomDataErrors.name }}{% endverbatim %}</span>
							</div>
							<div class="mt5">
								<input ng-class="{'has-error' : formBottomDataErrors.name }"  ng-model="formBottomData.name" type="text" style="width:200px">
							</div>
						</div>

						<div class="fleft ml10">
							<div>Телефон <span class="orange">*</span>
							<span class="errors">{% verbatim %}{{ formBottomDataErrors.phone }}{% endverbatim %}</span>
							</div>
							<div class="mt5">
								<input ng-class="{'has-error' : formBottomDataErrors.phone }" ng-model="formBottomData.phone" type="text" style="width:200px" class="phone">
							</div>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="mt15">
						<div class="fleft mr10">
							<div>Метро</div>
							<div class="mt5">
								<select style="width:210px" ng-model="formBottomData.metro">
								<option value="">Выбрать метро</option>
									 {% for m in metro %}
										<option value="{{ m.pk }}">{{ m.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="fleft ml10">
							<div>Желаемые дата и время приема</div>
							<div class="mt5">
								<input ng-model="formBottomData.data" type="text" style="width:200px">
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="mt20 tc">
						<loading ng-show="loading"></loading>
						<input ng-hide="loading" type="submit" class="btn_submit" value="Отправить заявку">
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>