{% load page_tags %}

{% actions main_menu %}
{% for action in actions %}
    {% if action.selected %}
    <li class="relative"><a class="clickable-btn" href="{{ action.link }}">{{ action.title }}</a></li>
    {% else %}
    <li class="relative"><a class="clickable-btn" href="{{ action.link }}">{{ action.title }}</a></li>
    {% endif %}
{% endfor %}