{% load seo cache page_tags generic_flatblocks docent_tags %}
<div class="box" ng-show="formData.v == 'KT'">
	<div>
		<div class="mt10 gray">
			 Тип обследования
		</div>
		<select style="width:175px" ng-change="changeInspection('KT')" ng-model="ktData.inspection">
			<option value="">Выбрать наименование</option>
			{% for p in insp_kt %}
				<option  disabled id="kt_{{ p.pk }}">{{ p }}</option>
				{% selector  p 'kt' %}
			{% endfor %}
		</select>
	</div>

	<div class="mt10">
		<div class="mt10 gray">
			 Ближайшее метро
		</div>
		<select style="width:175px"  ng-change="changeInspection('KT')" ng-model="ktData.metro">
			<option value="">Метро</option>
			{% for p in metro %}
				<option  value="{{ p.pk}}">{{ p.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mt10 gray">
		 Число поперечных срезов
	</div>
	<div class="mt10 gray pw">
		{% for p in slice %}
			<input type="checkbox" ng-init="ktData.power{{ forloop.counter0 }}='{{ p.pk }}'"
			ng-model="ktData.power{{ forloop.counter0 }}" 
			ng-change="changeInspection('KT')"  
			ng-false-value="false"
			ng-true-value={{ p.pk }}
			ng-checked="true"> {{ p.value }} &nbsp;
		{% endfor %}
	</div>
</div>