{% load seo cache page_tags generic_flatblocks docent_tags %}
<div class="box" ng-show="formData.v == 'MRT'">
	<div>
		<div class="mt10 gray">
			 Тип обследования
		</div>
		<select style="width:175px" 
		ng-change="changeInspection('MRT')" 
		ng-model="mrtData.inspection">
			<option  value="">Выбрать наименование</option>
			{% for p in insp_mrt %}
				<option  disabled id="{{ p.pk }}">{{ p }}</option>
				{% selector  p 'mrt' %}
			{% endfor %}
		</select>
	</div>

	<div class="mt10">
		<div class="mt10 gray">
			 Ближайшее метро
		</div>
		<select style="width:175px"  ng-model="mrtData.metro" ng-change="changeInspection('MRT')">
			<option selected value="">Метро</option>
			{% for p in metro %}
				<option  value="{{ p.pk}}">{{ p.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mt10 gray">
		 Необходимая мощность
	</div>
	<div class="mt10 gray pw">
		{% for p in power %}
			<input type="checkbox" 
			ng-init="mrtData.power{{ forloop.counter0 }}='{{ p.pk }}'"
			ng-model="mrtData.power{{ forloop.counter0 }}" 
			ng-change="changeInspection('MRT')"  
			class="power selector_change" 
			ng-false-value="false"
			ng-true-value={{ p.pk }}
			ng-checked="true" 
			> {{ p.value }} Тл &nbsp;
		{% endfor %}
	</div>
</div>
