{% load docent_tags %}

{% for child in children %}
	{% if vid == 'mrt' %}
		<li 
			ng-click="changeInspection('MRT',0,{{ child.pk }})"
			ng-class="{'current': formData.inspection == {{ child.pk }} }">{{ child.name }}
		</li>
	{% else %}
			<li 
			ng-click="changeInspection('KT',0,{{ child.pk }})"
			ng-class="{'current': formData.inspection == {{ child.pk }} }">{{ child.name }}
		</li>
	{% endif %}

{% endfor %}
