<div class="mt15">Область обследования</div>
<div class="mt5">
	<select style="width:220px" 
		ng-model="mainForm.inspection" 
		>
	{% for p in all_inspections %}
		<option 
			ng-selected="{% verbatim %}mainForm.inspection{% endverbatim %} == {{ p.pk }}" 
			value="{{ p.pk }}">{{ p.name }}
		</option>
	{% endfor %}
	</select>
</div>
<div class="mt15">Метро</div>
<div class="mt5">
	<select style="width:220px" 
		ng-model="mainForm.metro"
		>
		{% for m in metro %}
			<option 
				ng-selected="{% verbatim %}mainForm.metro{% endverbatim %} == {{ m.pk }}" 
				value="{{ m.pk }}">{{ m.name }}
			</option>
		{% endfor %}
	</select>
</div>