{% load thumbnail %}
{% block body %}
{% with object.title as title %}
    {% if object.title or object.image or object.text %}
		<div class="teaser">
			<a href="{{ object.link }}">
				{{ object.text|safe}}
			</a>
			<div class="period">{{ object.period }}</div>
		</div>
    {% endif %}
{% endwith %}
{% endblock %}
						