{% extends "base.html" %}
{% load seo cache page_tags generic_flatblocks docent_tags %}
{% block content %}
	<div class="main">
		<div class="content">
			<div class="wrapper">
				<div class="menu_container">
					<ul class="sf-menu sf-round">
						{% include 'tags/up_menu.html' %}
					</ul>
				</div>
				<div class="one_win">
					<img src="{{ STATIC_URL }}img/one_win.png" width="476" height="106" alt="">
				</div>
				{% gblock 'our_choice' for 'gblocks.banner' with 'gblocks/banner.html' %}
				<div class="clear"></div>
			</div>
			<div class="help_arrow_1"></div>
			<div class="inner">
				<div class="padding">
				<h1 class="reviews">Отзывы и комментарии</h1>
				</div>
    
			</div>
		</div>
	</div>
{% endblock %}