{% extends 'base.html' %}

{% block content %}
    <div class="colWrap">
        <div class="colWrapInside">
            <!-- left column -->
            <div class="leftCol">
                {% block leftCol %}
                {% endblock %}
            </div>
            <!-- /left column -->

            <!-- right column -->
            <div class="rightCol">
                {% block rightCol %}
                {% endblock %}
            </div>
            <!-- /right column -->
        </div>
    </div>
{% endblock %}