<!DOCTYPE html>
{% load seo cache page_tags generic_flatblocks docent_tags %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	{% block seo %}
	    {% get_metadata as seo %}
	    <title>{{ seo.title.value }}{% block title_end %}{% gblock 'title_end' for 'gblocks.title' with 'gblocks/title/flatblock_without_edit_tags.html' %}{% endblock %}
	    </title>
	    {{ seo.description }}
	    {{ seo.keywords }}
	{% endblock %}

	{% gblock 'meta_b' for 'gblocks.text' into 'meta_block' %}
	{{ meta_block.text|safe }}
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
	
	<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/menu.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/tabs.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}css/jquery.qtip.min.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js"></script>
	<script src="{{ STATIC_URL }}js/ya-map-2.1.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>


	
</head>
<body ng-app="mrtApp" ng-controller="ChangeInspectionController" ng-init="changeInspection('MRT',1)">
	<div class="header" id="header">
		<div class="wrapper">
			<div class="logo"><a href="/"></a></div>
			<div class="phone">
				<div class="number">
				{% gblock 'phone' for 'gblocks.text' with 'gblocks/text.html' %}
			</div>
			<div class="buttons" ng-controller="SendFormController">
				<span class="but_blue" my-qtip>ПЕРЕЗВОНИТЬ МНЕ</span>
				<span ng-click = "clickForButton()" class="but_org ml50">ОСТАВЬТЕ ЗАЯВКУ</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{% block content %}
	<div class="main">
		<div class="content">
			<div class="wrapper">
				<div class="menu_container">
					<ul class="sf-menu sf-round">
						{% include 'tags/up_menu.html' %}
					</ul>
				</div>
				<div class="one_win">
					<img src="{{ STATIC_URL }}img/one_win.png" width="476" height="106" alt="">
				</div>
				{% gblock 'our_choice' for 'gblocks.banner' with 'gblocks/banner.html' %}
				<div class="clear"></div>
			</div>
			<div class="inner">
				<div class="help_arrow_1"></div>
				<div class="padding">
					<div class="htabber filter prel">
						<ul class="tabs">
							<li ng-class="{'current': formData.v == 'MRT'}" ng-click="changeInspection('MRT',1)">МРТ
								<div class="cl"></div>
								<div class="cr"></div>
							</li>
							<li ng-class="{'current': formData.v == 'KT'}" ng-click="changeInspection('KT',1)">КТ
								<div class="cl"></div>
								<div class="cr"></div>
							</li>
						</ul>

						<div class="boxes">
							{% include "includes/mrt_filter.html" %}
							{% include "includes/kt_filter.html" %}
						</div>

						<div class="help_arrow_3"></div>
					</div>


					<div class="htabber padder">
						<ul class="tabs" ng-controller="yandexMap">
							<li class="ht_tbl" ng-class="{'current':mapTable.vid == 'table' }" ng-click="changeTableMap('table')" ng-init="changeTableMap('table')">Таблица
								<div class="cl"></div><div class="cr"></div>
							</li>
							<li ng-class="{'current':mapTable.vid == 'map' }" ng-click="changeTableMap('map');">Карта
							<div class="cl"></div><div class="cr"></div>
							</li>
						</ul>
						<div class="boxes">
						<div id="example"></div>
							<div class="box visible" id="ajax_insert"  ng-show = "mapTable.vid == 'table'">
								<table id="tbl_places" class="basic" cellspacing="0" ng-controller="SendFormController">
									<col width="35%"/><col /><col width="35%"/>
									<thead>
										<tr>
											<th>Метро</th>
											<th>Цена</th>
											<th>Аппарат</th>
										</tr>
									</thead>

									<tbody ng-hide="loading">
										<tr role="row" 
											ng-repeat="ins in inspection" 
											ng-click="clickForTable(ins)">
											{% verbatim %}
												<td style="display:none;">{{ ins.0 }}</td>
												<td>{{ ins.1 }}</td>
												<td ng-bind-html="ins.2">{{ ins.2 }}<br>{{ ins.3 }}</td>
												<td ng-bind-html="ins.4">{{ ins.4 }}</td>
											{% endverbatim %}
										</tr>
									</tbody>
								</table>
								<loading ng-show="loading"></loading>
							</div>
							<div class="box"  ng-show="mapTable.vid == 'map'" ng-controller="yandexMap">
								<div id="map">
									<ya-map 
										ya-controls="zoomControl fullscreenControl geolocationControl"
										ya-zoom="10" 
										ya-center="[30.305578,59.918154]" 
										ya-after-init="afterMapInit($target)">
										<ya-geo-object ng-repeat="o in geoObjects" ya-source="o"></ya-geo-object>
									</ya-map>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

					<div class="help_arrow_4"></div>
					<div class="vtabber mt10">

						<ul class="tabs">
							<li 
								ng-class="{'current': formData.v == 'MRT'}" 
								ng-click="changeInspection('MRT',1)">МРТ
							</li>

							<li 
								ng-class="{'current': formData.v == 'KT'}" 
								ng-click="changeInspection('KT',1)">КТ
							</li>
						</ul>

						<div class="boxes">
							<!-- МРТ -->
							<div class="box" 
								ng-show="formData.v == 'MRT'" 
								>
								<div class="stabber">
									<ul class="stabs">
									{% for p in insp_mrt %}
										<li class="li_main" sibs>{{ p.name }}</li>
											<ul class="ul_child" ng-show="parentInsp=={{ p.pk }}">
												{% tabular p 'mrt' %}
											</ul>
									{% endfor %}
									</ul>
									<div class="sboxes">
									<div class="about" ng-hide="inspBody != null">
										{% gblock 'about_mrt' for 'gblocks.titleandtext' with 'gblocks/copy.html' %}
									</div>
										<div class="sbox" ng-show="inspBody != null" ng-bind-html="inspBody">
										{% verbatim %}{{ inspBody }}{% endverbatim %}
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>

							<!-- КТ -->
							<div class="box" ng-show="formData.v == 'KT'">
								<div class="stabber">
									<ul class="stabs">
									{% for p in insp_kt %}
										<li class="li_main" sibs>{{ p.name }}</li>
											<ul class="ul_child" ng-show="parentInsp=={{ p.pk }}">
											{% tabular p 'kt' %}
											</ul>
									{% endfor %}
									</ul>
									<div class="sboxes">
									<div class="about" ng-hide="inspBody != null">
										{% gblock 'about_kt' for 'gblocks.titleandtext' with 'gblocks/copy.html' %}
									</div>
										<div class="sbox" ng-show="inspBody != null" ng-bind-html="inspBody">
										{% verbatim %}{{ inspBody }}{% endverbatim %}
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="btn_up" class="up"></div>
		<div class="promo">
			<div class="wrapper">
				<div class="inner">
					<div class="medic"></div>
					<div class="win">
						{% gblock 'help' for 'gblocks.titleandtext' with 'gblocks/copy.html' %}
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<div class="footer">
		<div class="wrapper">
			<div class="inner">
				<div class="column">
					{% include 'tags/foot_menu.html' %}
					<!--div class="item"><a href="#">Контакты</a></div>
					<div class="item"><a href="#">Пункт меню</a></div-->
				</div>
				<!--div class="column">
					<h3>Полезно</h3>
					<div class="item"><a href="#">Полезно знать</a></div>
					<div class="item"><a href="#">Важная информация</a></div>
					<div class="item"><a href="#">Кнопка меню</a></div>
					<div class="item"><a href="#">Пункт меню</a></div>
				</div-->
				<div class="column last">
					{% include 'tags/foot_menu_two.html' %}
					<!--div class="item"><a href="#">Опять отзыв</a></div>
					<div class="item"><a href="#">Последний отзыв</a></div-->
				</div>
				<div class="column">
					{% include 'tags/foot_menu_three.html' %}
					<!--div class="item"><a href="#">Контакты</a></div>
					<div class="item"><a href="#">Пункт меню</a></div-->
				</div>
				<div class="social">
					<h3 class="fleft">Мы в социальных сетях:</h3>
					<div class="shared-icons">
					{% gblock 'vk_link' for 'gblocks.title' into 'vk_link' %}
					{% if vk_link.title %}
						<a href="{{ vk_link.title|safe }}" class="shared shared-vk"></a>
					{% endif %}

					{% gblock 'fb' for 'gblocks.title' into 'fb' %}
					{% if fb.title %}
						<a href="{{ fb.title|safe }}" class="shared shared-fb"></a>
					{% endif %}

					{% gblock 'tw' for 'gblocks.title' into 'tw' %}
					{% if tw.title %}
						<a href="{{ tw.title|safe }}" class="shared shared-tw"></a>
					{% endif %}

					{% gblock 'rss' for 'gblocks.title' into 'rss' %}
					{% if rss.title %}
						<a href="{{ rss.title|safe }}" class="shared shared-rss"></a>
					{% endif %}

					{% gblock 'instagram' for 'gblocks.title' into 'instagram' %}
					{% if instagram.title %}
						<a href="{{ instagram.title|safe }}" class="shared shared-ph"></a>
					{% endif %}
					
					</div>
					<div class="clear"></div>

					<div class="fright mt20">
						<div class="fleft">
						{% gblock 'logo' for 'gblocks.image' with 'gblocks/image.html' %}
						</div>
						<div class="fleft mt10 lgray bold">АССОЦИАЦИЯ<br>ЦЕНТРОВ<br>МРТ и КТ</div>
					</div>
					<div class="clear"></div>

					<div class="mt20 gray">{% gblock 'copyright' for 'gblocks.text' into 'copyright' %}{{ copyright.text|safe }}</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- Order modal window -->
	<div class="dnone" ng-controller="SendFormController">
			<div id='frm_recall' class="frm_inline">
			<div class="success" ng-show="callFormErrors.success">
				<span><b>Спасибо!</b> <br> Вам перезвонят</span>
			</div>
			<form 
				ng-submit="callMePlease($event)" 
				ng-hide="callFormErrors.success">{% csrf_token %}
				<div>Ваше имя <span class="orange">*</span>
					<span class="errors">{% verbatim %}{{ callFormErrors.name }}{% endverbatim %}</span>
				</div>
				<div class="mt5">
					<input  type="text" style="width:165px" 
					ng-model="callMeData.name"
					ng-class="{'has-error' : callFormErrors.name }">
				</div>
				<div class="mt15">Телефон <span class="orange">*</span>
				<span class="errors">{% verbatim %}{{ callFormErrors.phone }}{% endverbatim %}</span>
				</div>
				<div class="mt5">
					<input type="text" style="width:165px" class="phone" 
					ng-model="callMeData.phone"
					ng-class="{'has-error' : callFormErrors.phone }">
				</div>

				<div class="mt15 tc">
					<loading ng-show="loading"></loading>
					<input ng-hide="loading" type="submit" class="btn_submit" value="Отправить заявку">
				</div>
				</form>
			</div>


		<div id='tbl_content' class="frm_modal">
			Информация
		</div>

		<div id='order_content' class="frm_modal">
		<div class="success" ng-show="mainFormErrors.success" ng-bind-html="mainFormErrors.success">
			{% verbatim %}{{ mainFormErrors.success }}{% endverbatim %}
		</div>
			<form  
				ng-submit="mainFormSubmit($event)" 
				ng-hide="mainFormErrors.success"> {% csrf_token %}
				<div>Ваше имя <span class="orange">*</span>
					<span class="errors">{% verbatim %}{{ mainFormErrors.name }}{% endverbatim %}</span>
				</div>
				<div class="mt5">
					<input type="text" style="width:210px" 
						ng-model="mainForm.name" 
						ng-class="{'has-error' : mainFormErrors.name }">
				</div>	
				<div class="mt15">Телефон <span class="orange">*</span>
					<span class="errors">{% verbatim %}{{ mainFormErrors.phone }}{% endverbatim %}</span>
				</div>
				<div class="mt5">
					<input type="text" style="width:210px" class="phone" 
						ng-model="mainForm.phone"
						ng-class="{'has-error' : mainFormErrors.phone }">
				</div>
					{% top_menu %}
				<div class="mt15">Желаемые дата и время приема</div>
				<div class="mt5">
					<input type="text" style="width:210px" ng-model="mainForm.data">
				</div>

				<div class="mt15 tc">
					<loading ng-show="loading"></loading>
					<input ng-hide="loading" type="submit" class="btn_submit" value="Отправить заявку">
				</div>
			</form>
		</div>
	</div>
	 {% gblock 'footer_b' for 'gblocks.text' into 'footer_block' %}
	 {{ footer_block.text|safe }}

</body>
<script type="text/javascript">
$(window).on('scroll', function(){
		if($(window).scrollTop()>=20) {
			$('#header').addClass('header_slim');
			$('#btn_up').show();
		} else {
			$('#header').removeClass('header_slim');
			$('#btn_up').hide();
		}
	});
$('#btn_up').click(function(event) {
		$(window).scrollTo(0,150);
	});

$('input.phone').mask("+7 999 999 99 99");

</script>
</html>

