<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<table id="common" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td class="w100px" style="width: 100px"/>
    <td>
        <table id="content" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td class="header" style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif">
                    <a href="http://www.a-mrt.ru/"><img src="http://a-mrt.ru/media/static/img/one_win.png" alt="a-mrt.ru"/></a>

                    <p class="c_gray"
                       style="margin: 0 0 10px 0;font: 12px/1.3 Arial, Verdana, Helvetica, sans-serif;padding: 0 0 0 51px;color: #666">Вас приветствует сайт a-mrt.ru</p>
                </td>
            </tr>
            <tr>
                <td class="body" style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif">
                    <p>Добрый день, <b style="color: #333">администратор сайта</b><br/></p>
                    <p>Поступила заявка на обратный звонок</p>

                    <table id="personal-data" cellpadding="0" cellspacing="0" border="0" width="700px"
                           style="margin: 0 0 10px 0">
                        <tr>
                            <th class="tl"
                                style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif;font-weight: bold;background-color: #eee;padding: 5px 0 5px 10px;border-bottom: 1px solid #BBB;text-align: left">
                                Имя
                            </th>
                            <th class="tl"
                                style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif;font-weight: bold;background-color: #eee;padding: 5px 0 5px 0;border-bottom: 1px solid #BBB;text-align: left">
                                Телефон
                            </th>
                        </tr>
                        <tr><td colspan="7">&nbsp;</td></tr>
                        <tr>
                            <td style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif">{{ name }}</td>
                            <td style="font: 13px/1.3 Arial, Verdana, Helvetica, sans-serif">{{ phone }}</td>
                        </tr>
                        <tr><td colspan="7">&nbsp;</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
    <td class="w100px" style="width: 100px"/>
</tr>
</table>
</body>
</html>
